<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Steganography</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Steganography</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col" style="padding-right:20px; border-right: 1px solid #ccc;">
            <form id="encode" action="{{url_for('encode')}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="source_encode">Source Image (Image file)</label>
                    <input id="source_encode" name="source_enc" type="file" class="form-control-file"/>
                </div>
                <div class="form-group">
                    <label for="message">MESSAGE TO HIDE:</label>
				    <input type="text" id="message" name="message"><br><br>
                </div>
                <input type="submit" class="btn btn-primary" value="Encode">
            </form>
        </div>
        <div class="col">
            <form id="decode" action="{{url_for('decode')}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="source_decode">Source Image (Image file)</label>
                    <input id="source_decode" class="form-control-file" name="source_dec" type="file"/>
                </div>
                <input type="submit" value="Decode" class="btn btn-primary">
            </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <img id="img" class="img-fluid" src="" width="100%"/>
            <div id="message"></div>
            <!--<button id="download" class="btn btn-primary">Download</button>-->
        </div>
    </div>
</div>

</body>
</html>